{% extends "base.html" %}

{% block title %}Главная страница{% endblock %}

{% block content %}

{% if not session.user_id %}
<div class="blocks">
    <h1><i class="fas fa-sign-in-alt"></i> Вход в систему</h1>
    <form method="POST" action="{{ url_for('index') }}">

        <!-- Скрытое поле для сохранения параметра next -->
            {% if request.args.get('next') %}
            <input type="hidden" name="next" value="{{ request.args.get('next') }}">
            {% endif %}

        <div class="form-group">
            <label for="username">
                <i class="fas fa-user"></i> Логин
            </label>
            <input type="text" id="username" name="username"
                       placeholder="Введите ваше имя пользователя или email" required
                       value="{{ request.form.username if request.form }}">
            <div class="form-hint">Используйте ваш email или логин</div>
        </div>



        <div class="form-group">
            <label for="loginPassword" type="password" id="password" name="password"
                       placeholder="ваш пароль" required>
                <i class="fas fa-lock"></i> Пароль
            </label>
            <div class="password-wrapper">
                <input type="password" id="loginPassword" name="password" placeholder="Введите ваш пароль">
            </div>
        </div>



        <button type="submit">Войти в систему</button>
    </form>



</div>

{% else %}
    {% if session.is_guest %}
        <div class="blocks">
        <h2> Добро пожаловать, {{ session.full_name }}! Ваша учетная запись еще не подтверждена. Дождитесь подтверждения от администратора.</h2>
        </div>
    {% endif %}

    {% if session.is_admin %}
        <div class="blocks">
            <h2> Добро пожаловать, администратор: {{ session.full_name }}! </h2>
            <div class="banner-grid">
                <a href="{{ url_for('load_table', funck='edit_users') }}" class="banner-card">
                    <div class="banner-icon">
                        <i class="fas fa-users"></i>
                    </div>
                    <div class="banner-content">
                        <h3>Пользователи</h3>
                        <p>Редактирование пользователей в системе</p>
                        <span class="banner-link">Перейти <i class="fas fa-arrow-right"></i></span>
                    </div>
                </a>
                <a href="{{ url_for('load_table', funck='edit_otdel') }}" class="banner-card">
                    <div class="banner-icon">
                        <i class="fa-solid fa-school"></i>
                    </div>
                    <div class="banner-content">
                        <h3>Отделения</h3>
                        <p>Редактирование отделений в системе</p>
                        <span class="banner-link">Перейти <i class="fas fa-arrow-right"></i></span>
                    </div>
                </a>
            </div>
        </div>
    {% endif %}

    <!-- ЗАВЕДУЮЩИЙ -->
    {% if session.is_zav %}
    <div class="blocks">
            <h2>Добро пожаловать, заведующий: {{ session.full_name }}!</h2>
            <h3 style="margin-top: 40px;">Учебный процесс</h3>
            <div class="banner-grid">
                <!-- СТУДЕНТЫ -->
                <a href="{{ url_for('load_table', funck='edit_students') }}" class="banner-card">
                    <div class="banner-icon">
                        <i class="fas fa-users"></i>
                    </div>
                    <div class="banner-content">
                        <h3>Студенты</h3>
                        <p>Редактирование студентов в системе</p>
                        <span class="banner-link">
                            Перейти
                            <i class="fas fa-arrow-right"></i>
                        </span>
                    </div>
                </a> 
                <!-- ТИП ВЕДОМОСТИ -->
                <a href="{{ url_for('load_table', funck='edit_typesved') }}" class="banner-card">
                    <div class="banner-icon">
                        <i class="fas fa-list-alt"></i>
                    </div>
                    <div class="banner-content">
                        <h3>Типы ведомости</h3>
                        <p>Редактирование типов ведомост в системе</p>
                        <span class="banner-link">
                            Перейти
                            <i class="fas fa-arrow-right"></i>
                        </span>
                    </div>
                </a> 
                <!-- ГРУППЫ -->
                <a href="{{ url_for('load_table', funck='edit_groups') }}" class="banner-card">
                    <div class="banner-icon">
                        <i class="fas fa-layer-group" aria-hidden="true"></i>
                    </div>
                    <div class="banner-content">
                        <h3>Группы</h3>
                        <p>Редактирование групп в системе</p>
                        <span class="banner-link">Перейти <i class="fas fa-arrow-right"></i></span>
                    </div>
                </a> 
            </div>
            <div class="banner-grid">
                <!-- ФОРМА ОБУЧЕНИЯ -->
                <a href="{{ url_for('load_table', funck='edit_formobuch') }}" class="banner-card">
                    <div class="banner-icon">
                        <i class="fas fa-graduation-cap" aria-hidden="true"></i>
                    </div>
                    <div class="banner-content">
                        <h3>Формы обучения</h3>
                        <p>Редактирование форм обучения в системе</p>
                        <span class="banner-link">Перейти <i class="fas fa-arrow-right"></i></span>
                    </div>
                </a>
                <!-- СПЕЦИАЛЬНОСТИ -->
                <a href="{{ url_for('load_table', funck='edit_spec') }}" class="banner-card">
                    <div class="banner-icon">
                        <i class="fas fa-certificate" aria-hidden="true"></i>
                    </div>
                    <div class="banner-content">
                        <h3>Специальности</h3>
                        <p>Редактирование специальностей в системе</p>
                        <span class="banner-link">Перейти <i class="fas fa-arrow-right"></i></span>
                    </div>
                </a>
                <!-- ВЕДОМОСТЬ -->
                <a href="{{ url_for('load_table', funck='edit_statement', status=0)}}" class="banner-card">
                    <div class="banner-icon">
                        <i class="fas fa-file-alt" aria-hidden="true"></i>
                    </div>
                    <div class="banner-content">
                        <h3>Ведомости</h3>
                        <p>Редактирование ведомостей в системе</p>
                        <span class="banner-link">Перейти <i class="fas fa-arrow-right"></i></span>
                    </div>
                </a>
            </div>
            <h3 style="margin-top: 40px;">Отчеты</h3>
            <div class="banner-grid"> 
                <!-- ИТОГОВАЯ ВЕДОМОСТЬ -->
                <a href="{{ url_for('load_table', funck='edit_statement', status=1) }}" class="banner-card">
                    <div class="banner-icon">
                        <i class="fas fa-file" aria-hidden="true"></i>
                    </div>
                    <div class="banner-content">
                        <h3>Оценочные ведомости</h3>
                        <p>Просмотр ведомостей в системе</p>
                        <span class="banner-link">Перейти <i class="fas fa-arrow-right"></i></span>
                    </div>
                </a> 

                <!-- УСПЕВАЕМОСТЬ -->
                <a href="{{ url_for('load_table', funck='edit_report', is_diploma=0) }}" class="banner-card">
                    <div class="banner-icon">
                        <i class="fas fa-chart-bar" aria-hidden="true"></i>
                    </div>
                    <div class="banner-content">
                        <h3>Итоговая успеваемость</h3>
                        <p>Просмотр итоговой успеваемости в системе</p>
                        <span class="banner-link">Перейти <i class="fas fa-arrow-right"></i></span>
                    </div>
                </a> 
                <!-- ПРИЛОЖЕНИЕ К ДИПЛОМУ -->
                <a href="{{ url_for('load_table', funck='edit_report', is_diploma=1) }}" class="banner-card">
                    <div class="banner-icon">
                        <i class="fas fa-scroll"></i>
                    </div>
                    <div class="banner-content">
                        <h3>Приложение к диплому</h3>
                        <p>Просмотр приложения к диплому в системе</p>
                        <span class="banner-link">
                            Перейти
                            <i class="fas fa-arrow-right"></i>
                        </span>
                    </div>
                </a> 
            </div>

        </div>
    {% endif %}

    <!-- ПРЕПОДАВАТЕЛЬ -->
    {% if session.is_prepod %}
        <div class="blocks">
        <h2> Добро пожаловать, преподаватель: {{ session.full_name }}!</h2>
            <div class="banner-grid">
                <!-- ВЕДОМОСТЬ -->
                <a href="{{ url_for('load_table', funck='edit_statement') }}" class="banner-card">
                    <div class="banner-icon">
                        <i class="fa fa-users" aria-hidden="true"></i>
                    </div>
                    <div class="banner-content">
                        <h3>Ведомости</h3>
                        <p>Редактирование ведомостей в системе</p>
                        <span class="banner-link">Перейти <i class="fas fa-arrow-right"></i></span>
                    </div>
                </a>
            </div>
        </div>
    {% endif %}


    {% if session.is_specialist %}
<div class="blocks">
    <h2> Добро пожаловать, cпециалист учебной части: {{ session.full_name }}</h2>

    <div class="banner-grid">
        <a href="{{ url_for('load_table', funck='edit_nagruzka') }}" class="banner-card">
            <div class="banner-icon">
                <i class="fa fa-table" aria-hidden="true"></i>
            </div>
            <div class="banner-content">
                <h3>Нагрузка</h3>
                <p>Управление нагрузкой в системе</p>
                <span class="banner-link">Перейти <i class="fas fa-arrow-right"></i></span>
            </div>
        </a>

        <a href="{{ url_for('load_table', funck='edit_users') }}" class="banner-card">
            <div class="banner-icon">
<i class="fa fa-user-circle" aria-hidden="true"></i>
            </div>
            <div class="banner-content">
                <h3>Пользователи</h3>
                <p>Редактирование пользователей в системе</p>
                <span class="banner-link">Перейти <i class="fas fa-arrow-right"></i></span>
            </div>
        </a>

        <a href="{{ url_for('load_table', funck='edit_disciplines') }}" class="banner-card">
            <div class="banner-icon">
                <i class="fa fa-book" aria-hidden="true"></i>
            </div>
            <div class="banner-content">
                <h3>Дисциплины</h3>
                <p>Редактирование дисциплин в системе</p>
                <span class="banner-link">Перейти <i class="fas fa-arrow-right"></i></span>
            </div>
        </a>
    </div>

    <div class="banner-grid">
        <a href="{{ url_for('load_table', funck='edit_years') }}" class="banner-card">
            <div class="banner-icon">
                <i class="fa fa-calendar" aria-hidden="true"></i>
            </div>
            <div class="banner-content">
                <h3>Учебные годы</h3>
                <p>Редактирование учебных годов в системе</p>
                <span class="banner-link">Перейти <i class="fas fa-arrow-right"></i></span>
            </div>
        </a>


        <a href="{{ url_for('load_table', funck='edit_fgoss') }}" class="banner-card">
            <div class="banner-icon">
                <i class="fas fa-graduation-cap"></i>
            </div>
            <div class="banner-content">
                <h3>ФГОС</h3>
                <p>Редактирование ФГОС в системе</p>
                <span class="banner-link">Перейти <i class="fas fa-arrow-right"></i></span>
            </div>
        </a>

        <a href="{{ url_for('load_table', funck='edit_pck') }}" class="banner-card">
            <div class="banner-icon">
                <i class="fa fa-bookmark" aria-hidden="true"></i>
            </div>
            <div class="banner-content">
                <h3>ПЦК</h3>
                <p>Редактирование предметно-цикловой комиссии в системе</p>
                <span class="banner-link">Перейти <i class="fas fa-arrow-right"></i></span>
            </div>
        </a>
    </div>
</div>  <!-- закрываем blocks -->
{% endif %}
{% endif %}


{% endblock %}